@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main-container);
  -webkit-box-shadow: 0 0 0px 1000px var(--container) inset;
  transition: background-color 5000s ease-in-out 0s;
}


@keyframes popup {
  0% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.header-extension {
  animation: popup 0.2s forwards;
}

.header {
  &:hover > .header-extension {
    display: flex;
  }
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
}

@layer base {
  :root {
    --bg: #f5f6f8;
    --bg-border: #e5e5e5;
    --container: #ffffff;
    --container-border: #dddddd;
    --main-container: #1b1b1b;
  }

  html[theme="purple"] {
    --bg: #423F4A;
    --bg-border: #605C6B;
    --container: #474552;
    --container-border: #8c899a;
    --main-container: #f5f5f5;
  }

  html[theme="dark"] {
    --bg: #262626;
    --bg-border: #5f5f5f;
    --container: #2b2b2b;
    --container-border: #7a7a7a;
    --main-container: #f5f5f5;
  }
}

@layer components {
  .except-header {
    height: calc(100% - 72px);
  }
}
