@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --bg: #fcfcfc;
    --bg-border: #cccccc;
    --container: #fafafa;
    --container-border: #dddddd;
    --main-container: #1b1b1b;
  }

  html[theme="purple"] {
    --bg: #423f4a;
    --bg-border: #726e81;
    --container: #5a5766;
    --container-border: #8c899a;
    --main-container: #f5f5f5;
  }

  html[theme="dark"] {
    --bg: #2b2b2b;
    --bg-border: #5f5f5f;
    --container: #373737;
    --container-border: #1b1b1b;
    --main-container: #f5f5f5;
  }
}

@layer components {
  .except-header {
    height: calc(100% - 72px);
  }
}